@font-face {
    font-family: 'bold';
    src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: 'boldItalic';
    src: url("../assets/fonts/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: 'extraBold';
    src: url("../assets/fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family: 'extraBoldItalic';
    src: url("../assets/fonts/OpenSans-ExtraBoldItalic.ttf");
}

@font-face {
    font-family: 'italic';
    src: url("../assets/fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: 'light';
    src: url("../assets/fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: 'lightItalic';
    src: url("../assets/fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: 'medium';
    src: url("../assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: 'mediumItalic';
    src: url("../assets/fonts/OpenSans-MediumItalic.ttf");
}

@font-face {
    font-family: 'regular';
    src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'semiBold';
    src: url("../assets/fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: 'semiBoldItalic';
    src: url("../assets/fonts/OpenSans-SemiBoldItalic.ttf");
}