@import '../mixin';
@import '../variables';

@keyframes slide-ani-text {
	0% {
		transform: translateX(-105%);
	}
	100% {
		transform: translateX(0%);
	}
}

@keyframes bouncing-arrow {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    article {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 700ms ease 0s;
        animation: slide-ani-text 1s alternate forwards;
        .contents {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .top {
            height: calc(14vh + 140px);
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            flex-direction: column;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 0;
            margin-top: 0;
            display: flex;
            -webkit-tap-highlight-color: transparent;
            text-decoration: none;
            .main_title {
                position: absolute;
                z-index: 1;
                margin: 2px;
                font-size: 60px;
                font-weight: 600;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                text-align: center;
                box-sizing: border-box;
                -webkit-tap-highlight-color: transparent;
                text-decoration: none;
                display: block;
            }
        }
        .home_idea_text {
            height: 60px;
            width: 65%;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            margin-top: 48px;
            display: flex;
            flex-direction: row;
            -webkit-tap-highlight-color: transparent;
            text-decoration: none;
            p {
                font-size: 60px;
                font-weight: 600;
                position: absolute;
                text-align: center;
                width: 100%;
                left: 0px;
                color: rgb(194, 139, 0);
                margin: 0px;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                z-index: 1;
                transition: all 700ms ease 0s;
                
            }
            .none_active {
                animation: .5s linear 1s infinite alternate slidein;
                transform: translateY(-80%);
                opacity: 0;
            }
            .active {
                animation: .5s linear 1s infinite alternate slidein;
                transform: translateY(0%);
                opacity: 1;
            }
        }
        .idea_scroller {
            z-index: 1;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            text-decoration: none;
            display: block;
            ul {
                display: flex;
                margin: 0;
                padding: 0;
                list-style-type: disc;
                margin-block-start: 1em;
                margin-block-end: 1em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                // padding-inline-start: 40px;
                li {
                    list-style-type: none;
                    list-style: none;
                    padding: 0;
                    display: list-item;
                    text-align: center;
                    button {
                        display: inline-block;
                        padding: 5px;
                        height: 10px;
                        border-radius: 50px;
                        margin: 6px;
                        outline: none;
                        border-style: none;
                    }
                }
            }
        }
        .image_area {
            height: 70vh;
            box-sizing: border-box;
            left: var(--space-0);
            bottom: var(--space-0);
            right: var(--space-0);
            position: absolute;
            overflow: hidden;
            -webkit-tap-highlight-color: transparent;
            text-decoration: none;
            display: block;
            .wrap {
                align-items: center;
                flex-direction: column;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 0;
                margin-top: 0;
                display: flex;
                -webkit-tap-highlight-color: transparent;
                text-decoration: none;
                .contents {
                    width: 100%;
                    height: 100%;
                    box-sizing: border-box;
                    position: relative;
                    margin-top: 24px;
                    -webkit-tap-highlight-color: transparent;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 200px;
                    flex-wrap: wrap;
                    .image_wrap {
                        margin: 18px;
                        animation: .5s linear 1s infinite alternate slidein;
                        transition: all 700ms ease 0s;
                        img {
                            width: 236px;
                            height: 350px;
                            border-radius: 24px;
                        }
                    }
                }
            }
        }
        .next_arrow {
            height: 200px;
            background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 70%);
            box-sizing: border-box;
            left: var(--space-0);
            bottom: var(--space-0);
            right: var(--space-0);
            position: absolute;
            -webkit-tap-highlight-color: transparent;
            text-decoration: none;
            display: block;

            .full_size {
                width: 100%;
                height: 100%;
                align-items: center;
                flex-direction: column;
                margin: 0;
                display: flex;
                -webkit-tap-highlight-color: transparent;
                text-decoration: none;
                background: linear-gradient(rgba(255, 255, 255, 0) 0%, var(--color-yellow-caramellow-100) 70%);
                .icon_wrap {
                    animation-name: bouncing-arrow;
                    animation-duration: 2s;
                    animation-iteration-count: infinite;
                    transform-origin: center bottom;
                    box-sizing: border-box;
                    -webkit-tap-highlight-color: transparent;
                    text-decoration: none;
                    display: block;
                    .btn {
                        background-color: rgba(0, 0, 0, 0);
                        border-radius: 0;
                        transition: transform 85ms ease-out;
                        -webkit-tap-highlight-color: transparent;
                        text-decoration: none;
                        display: block;
                        .arrow {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            justify-content: center;
                            align-items: center;
                            box-sizing: border-box;
                            margin-bottom: 16px;
                            display: flex;
                            flex-direction: row;
                            -webkit-tap-highlight-color: transparent;
                            text-decoration: none;
                        }
                    }
                }
                .text_wrap {
                    width: 100%;
                    height: 7vh;
                    background: var(--color-yellow-caramellow-100);
                    align-items: center;
                    place-content: center;
                    box-sizing: border-box;
                    padding-bottom: 0;
                    padding-top: 0;
                    display: flex;
                    flex-direction: row;
                    -webkit-tap-highlight-color: transparent;
                    text-decoration: none;
                    .btn {
                        border-radius: 0;
                        background: var(--color-yellow-caramellow-100);
                        width: calc(12 / var(--g-ncols) * 100%);
                        transition: transform 85ms ease-out;
                        -webkit-tap-highlight-color: transparent;
                        text-decoration: none;
                        display: block;
                        span {
                            text-align: left;
                            word-wrap: break-word;
                            font-weight: var(--font-weight-semibold);
                            font-family: var(--font-family-default-latin);
                            font-size: var(--font-size-300);
                            -webkit-font-smoothing: antialiased;
                            color: var(--color-text-default);
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }

    .search {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background: var(--color-yellow-caramellow-100);
        .left {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-self: center;
            .wrap {
                // width: calc(12 / var(--g-ncols) * 100%);
                // height: 100%;
                width: 40vw;
                height: 70vh;
                display: flex;
                justify-content: center;
                align-items: center;
                .top_right_img {
                    position: absolute;
                    z-index: 0;
                    transform: translate(120px, -200px);
                    cursor: pointer;
                }
                .left_img {
                    position: absolute;
                    z-index: 0;
                    transform: translate(-130px, 0);
                    cursor: pointer;
                }
                .center_img {
                    position: absolute;
                    z-index: 1;
                    cursor: pointer;
                }
                .bottom_right_img {
                    position: absolute;
                    z-index: 0;
                    transform: translate(140px, 150px);
                    cursor: pointer;
                }
                .search_item {
                    z-index: 2;
                    cursor: pointer;
                    height: 100px;
                    width: 316px;
                    border-radius: 999px;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    display: flex;
                    background-color: var(--color-background-default);
                    img {
                        margin-right: 4px;
                    }
                    span {
                        font-size: 24px;
                        color: var(--g-maroon);
                        font-weight: bold;
                        text-align: center;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    }
                }
            }
        }
        .right {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            align-self: center;
            h1 {
                font-size: 60px;
                color: var(--color-pink-flaminglow-600);
                font-weight: bold;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
            p {
                margin-top: 16px;
                max-width: 400px;
                font-size: 24px;
                color: var(--color-pink-flaminglow-600);
                text-align: center;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
            button {
                height: 48px;
                width: 93px;
                margin-top: 24px;
                border-radius: 33px;
                background: var(--color-pink-flaminglow-600);
                color: var(--color-yellow-caramellow-100);
                font-size: 16px;
                text-align: center;
                font-weight: bold;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
        }
    }

    .save {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background: var(--color-teal-spabattical-100);
        .text_area {
            text-align: -webkit-center;
            align-self: center;
            width: 100%;
            h1 {
                color: var(--color-teal-spabattical-600);
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                font-size: 60px;
                font-weight: bold;
                text-align: center;
            }
            p {
                max-width: 375px;
                margin-top: 16px;
                font-size: 24px;
                color: var(--color-teal-spabattical-600);
                text-align: center;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
            button {
                height: 48px;
                width: 93px;
                margin-top: 24px;
                background: var(--color-teal-spabattical-600);
                color: var(--color-teal-spabattical-100);
                border-radius: 100px;
                font-size: 16px;
                text-align: center;
                font-weight: bold;
                font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
            }
        }
        .img_area {
            text-align: center;
            align-self: center;
            width: 100%;
            height: 100%;
            .wrap {
                width: 687px;
                height: 695px;
                margin-top: 80px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .home1 {
                    position: absolute;
                    transform: translate(-120px, -80px);
                    background: none;
                    .desc {
                        position: absolute;
                        margin: 0 24px;
                        top: 70px;
                        left: 18px;
                        h1 {
                            color: var(--color-white-mochimalist-0);
                            font-weight: 500;
                            font-size: 56px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            text-align: left;
                        }
                    }
                    .home1_child {
                        position: absolute;
                        bottom: -10px;
                        left: 40px;
                        img {
                            margin: 0 4px;
                        }
                    }
                }
                .home2 {
                    position: absolute;
                    transform: translate(250px, -170px);
                    background: none;
                    .desc {
                        position: absolute;
                        margin: 0 18px;
                        bottom: 28px;
                        h1 {
                            color: var(--color-white-mochimalist-0);
                            font-weight: 500;
                            font-size: 28px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            text-align: left;
                        }
                    }
                }

                .home3 {
                    position: absolute;
                    transform: translate(200px, 100px);
                    background: none;
                    .desc {
                        position: absolute;
                        margin: 0 12px;
                        bottom: 24px;
                        h1 {
                            color: var(--color-white-mochimalist-0);
                            font-weight: 500;
                            font-size: 20px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            text-align: left;
                        }
                    }
                }

                .home4 {
                    position: absolute;
                    transform: translate(-50px, 300px);
                    background: none;
                    .desc {
                        position: absolute;
                        margin: 0 28px;
                        bottom: 38px;
                        h1 {
                            color: var(--color-white-mochimalist-0);
                            font-weight: 500;
                            font-size: 28px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            text-align: left;
                        }
                    }
                }

                .home5 {
                    position: absolute;
                    transform: translate(220px, 350px);
                    background: none;
                    .desc {
                        position: absolute;
                        margin: 0 28px;
                        bottom: 48px;
                        h1 {
                            color: var(--color-white-mochimalist-0);
                            font-weight: 500;
                            font-size: 28px;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

    .shop {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
        height: 100%;
        background: var(--color-pink-flaminglow-100);
        .left {
            flex-direction: row;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            .background {
                cursor: pointer;
                background-position: 50%;
                background-repeat: no-repeat;
                height: 100%;
                width: 100%;
                background-size: cover;
                background-image: url('../../assets/images/shop-back.png');
            }
            .pin_area {
                bottom: 128px;
                left: 84px;
                z-index: 1;
                box-sizing: border-box;
                position: absolute;
                width: 215px;
                height: 383px;
                cursor: pointer;
                .pin_image {
                    border-radius: 16px;
                    position: relative;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-color: transparent;
                    background-image: url('../../assets/images/shop-pin.png');
                }
                .text_area {
                    .adjust {
                        margin: 4px 12px 4px 12px;
                        text-align: center;
                        p {
                            color: var(--color-white-mochimalist-0);
                            font-family: var(--font-family-default-latin);
                            font-size: var(--font-size-300);
                            word-wrap: break-word;
                        }
                        .semibold {
                            font-weight: var(--font-weight-semibold);
                        }
                        .normal {
                            font-weight: var(--font-weight-normal);
                        }
                    }
                }
            }
            .avatar_area {
                left: 48px;
                bottom: 92px;
                z-index: 2;
                box-sizing: border-box;
                position: absolute;
                width: 96px;
                height: 96px;
                cursor: pointer;
                .avatar_image {
                    border-radius: 16px;
                    position: relative;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                    background-color: transparent;
                    background-image: url('../../assets/images/shop-avatar.png');
                }
            }
        }
        .right {
            flex-direction: row;
            align-items: flex-end;
            width: 100%;
            height: 100%;
            padding-top: 80px;
            .center {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                h1 {
                    width: 420px;
                    font-size: 60px;
                    color: var(--color-orange-firetini-600);
                    font-weight: bold;
                    text-align: center;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                }
                p {
                    margin-top: 16px;
                    max-width: 420px;
                    font-size: 24px;
                    color: var(--color-orange-firetini-600);
                    text-align: center;
                    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                }
                .btn_wrap {
                    height: 48px;
                    width: 93px;
                    margin-top: 16px;
                    button {
                        width: 100%;
                        height: 100%;
                        border-radius: 48px;
                        background: rgb(195, 47, 0);
                        span {
                            color: rgb(255, 223, 233);
                            font-size: 16px;
                            text-align: center;
                            font-weight: bold;
                            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                        }
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: 100%;
        .wrap {
            width: 1750px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            overflow: hidden;
            flex-direction: row;
            background-color: rgb(255, 255, 255);
            .background {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: calc(3 / var(--g-ncols) * 100%);
                margin: 0 8px;
                img {
                    width: 236px;
                    height: 350px;
                    margin: 16px 8px;
                    border-radius: 16px;
                }
            }
        }
        .cover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(0, 0, 0, 0.5);
            .contents {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 100%;
                .left {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    margin: 0px 24px;
                    h1 {
                        color: white;
                        align-self: center;
                        width: 100%;
                        max-width: 426px;
                        font-size: 70px;
                        font-weight: 600;
                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                    }
                }
                .right {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    margin: 0px 24px;
                    .input_area {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        width: 484px;
                        background-color: rgb(255, 255, 255);
                        border-radius: 32px;
                        position: relative;
                        text-align: center;
                        margin: auto;
                        min-height: initial;
                        box-shadow: rgb(0 0 0 / 45%) 0px 2px 10px;
                        padding: 20px 10px 24px;
                        .logo {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 12px 0;
                        }
                        .title {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin: 12px 24px 8px 24px;
                            h1 {
                                color: rgb(51, 51, 51);
                                font-size: 32px;
                                font-weight: 600;
                                letter-spacing: -1.2px;
                                padding-left: 16px;
                                padding-right: 16px;
                                -webkit-font-smoothing: antialiased;
                                word-break: break-word;
                            }
                        }
                        .sub_title {
                            text-align: center;
                            word-wrap: break-word;
                            font-weight: var(--font-weight-normal);
                            font-family: var(--font-family-default-latin);
                            font-size: var(--font-size-300);
                            -webkit-font-smoothing: antialiased;
                            color: var(--color-text-default);
                        }
                        .form {
                            margin: 16px 96px;

                            label {
                                float: left;
                                padding: 4px;
                            }
                            input {
                                box-sizing: border-box;
                                min-height: 48px;
                                padding: var(--space-200) var(--space-300);
                                width: calc(12 / var(--g-ncols) * 100%);
                                max-width: 100%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                font-family: var(--font-family-default-latin);
                                font-size: var(--font-size-300);
                                appearance: none;
                                border-radius: 16px;
                                border: solid 2px var(--color-gray-roboflow-400);
                                -webkit-font-smoothing: antialiased;
                                color: var(--g-colorGray300);
                                background-color: var(--g-colorGray0);
                                vertical-align: middle;
                                margin: 0px;
                                overflow: visible;
                                line-height: normal;
                            }
                            .email {
                                margin-bottom: 8px;
                            }
                            .passwd {
                                margin-bottom: 8px;
                            }
                            .age {
                                margin-bottom: 8px;
                            }
                            .btn_continue {
                                -webkit-font-smoothing: antialiased;
                                margin-top: 8px;
                                vertical-align: middle;
                                width: 100%;
                                button {
                                    background-color: rgb(230,0,35);
                                    border-radius: 20px;
                                    height: 40px;
                                    width: 100%;
                                    span {
                                        color: rgb(255, 255, 255);
                                        text-align: center;
                                        font-size: 15px;
                                        font-weight: bold;
                                    }
                                }
                            }
                            .or {
                                margin-bottom: 8px;
                                margin-top: 8px;
                                overflow: hidden;
                                text-align: center;
                                font-size: 14px;
                                color: rgb(51, 51, 51);
                                font-weight: bold;
                            }
                            .btn_social_login {
                                -webkit-font-smoothing: antialiased;
                                margin-top: 8px;
                                vertical-align: middle;
                                width: 100%;
                                .facebook {
                                    background-color: var(--color-blue-skycicle-500);
                                    margin-bottom: 8px;
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    img {
                                        width: 24px;
                                        height: 24px;
                                        background-color: rgb(255, 255, 255);
                                        border-radius: 12px;
                                        margin: 0px 24px 0px 4px;
                                    }
                                    span {
                                        color: rgb(255, 255, 255);
                                        font-weight: var(--font-weight-bold);
                                    }
                                } 
                                .google {
                                    background-color: rgb(255, 255, 255);
                                    margin-bottom: 8px;
                                    border: solid 1px var(--color-gray-roboflow-400);
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    img {
                                        width: 18px;
                                        height: 18px;
                                        background-color: rgb(255, 255, 255);
                                        border-radius: 12px;
                                        margin: 0px 28px 0px 4px;
                                    }
                                    span {
                                        color: var(--color-black-cosmicore-900);
                                        font-weight: var(--font-weight-normal);
                                        font-size: 14px;
                                    }
                                }
                                button {
                                    border-radius: 20px;
                                    height: 40px;
                                    width: 100%;
                                    span {
                                        text-align: center;
                                        font-size: 15px;
                                    }
                                }
                            }
                            .footer {
                                margin-top: 12px;
                                span {
                                    -webkit-font-smoothing: antialiased;
                                    font-size: 11px;
                                    font-weight: normal;
                                    text-align: center;
                                    transition: opacity 0.2s linear 0s;
                                    color: rgb(118, 118, 118);
                                    width: 224px;
                                    div {
                                        -webkit-tap-highlight-color: transparent;
                                        text-decoration: none;
                                        display: inline-block;
                                        span {
                                            color: var(--color-black-cosmicore-900);
                                            font-weight: var(--font-weight-bold);
                                        }
                                    }
                                }

                                .already {
                                    margin-top: 12px;
                                    span {
                                        color: var(--color-black-cosmicore-900);
                                        font-weight: var(--font-weight-bold);
                                        font-size: var(--font-size-100);
                                    }
                                }
                            }
                        }
                    }
                    .create_account {
                        background-color: var(--color-background-secondary-base);
                        height: 62px;
                        width: 100%;
                        border-radius: 0px 0px 32px 32px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        
                        span {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 100%;
                            width: 100%;
                            color: var(--color-black-cosmicore-900);
                            font-weight: var(--font-weight-bold);
                            font-size: var(--font-size-300);
                        }
                    }
                }
            }
        }
        .arrow_btn {
            position: absolute;
            z-index: 3;
            top: 76px;
            background: none;
            .arrow_wrap {
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                align-items: center;
                .icon {
                    background: rgb(156, 3, 67);
                    width: 48px;
                    height: 48px;
                    border-radius: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}