@import '../mixin';
@import '../variables';

@keyframes slide-ani-text {
	0% {
		transform: translateX(-105%);
	}
	100% {
		transform: translateX(0%);
	}
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    article {
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-direction: column;
        transition: all 700ms ease 0s;
        animation: slide-ani-text 1s alternate forwards;
        .contents {
            position: relative;
		    flex: 0 0 100%;
            top: 0;
			left: 0;
            width: 100%;
			height: 100%;
            transition: transform 1s;
        }
    }
}